{% extends "base.html" %}
{% block content %}

<h2>Select Your Experience Level</h2>

<div style="text-align:center; margin-top:40px;">

    <a href="/plan-result/{{ bodytype }}/beginner">
        <button style="padding:15px 40px;">Beginner</button>
    </a>

    <br><br>

    <a href="/plan-result/{{ bodytype }}/intermediate">
        <button style="padding:15px 40px;">Intermediate</button>
    </a>

    <br><br>

    <a href="/plan-result/{{ bodytype }}/advanced">
        <button style="padding:15px 40px;">Advanced</button>
    </a>

</div>

{% endblock %}